# Lab | List, Dict and Set Comprehension

Objective: Practice how to work with list, dict and set comprehensions to improve the efficiency and clarity of your Python code.

Hint: If you're having trouble writing a solution using a comprehension, try writing it out in a more traditional way first. This can help you break the problem down into smaller steps and better understand what you need to do. Once you have a working solution, you can then try to transform it into a comprehension if desired. Comprehensions can often be more concise and readable, but it's important to prioritize clarity and correctness over brevity.

## Challenge 1 - Katas

Do the following katas using list, dict or set comprehension.

### Katas - 1

The Western Suburbs Croquet Club has two categories of membership, Senior and Open. They would like your help with an application form that will tell prospective members which category they will be placed.

To be a senior, a member must be at least 55 years old and have a handicap greater than 7. In this croquet club, handicaps range from -2 to +26; the better the player the lower the handicap.

**Input**

Input will consist of a list of pairs. Each pair contains information for a single potential member. Information consists of an integer for the person's age and an integer for the person's handicap.

**Output**

Output will consist of a list of string values stating whether the respective member is to be placed in the senior or open category.

**Example**

```python
input =  [[18, 20], [45, 2], [61, 12], [37, 6], [21, 21], [78, 9]]
output = ["Open", "Open", "Senior", "Open", "Open", "Senior"]
```

In [9]:
def membership_com(list): 
    list_new = ["Senior" if (age>55 and e >7) else "Junior" for age, e in list]
    return list_new

In [10]:
membership_com([[18, 20], [45, 2], [61, 12], [37, 6], [21, 21], [78, 9]])

['Junior', 'Junior', 'Senior', 'Junior', 'Junior', 'Senior']

### Katas - 2

If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.

Write a solution so that it returns the sum of all the multiples of 3 or 5 below the number passed in. Additionally, if the number is negative, return 0.

Note: If the number is a multiple of both 3 and 5, only count it once.

In [20]:
def sum_total_com(n): 

    if n <0: 
        return 0
    
    
    new_list = [i for i in range(n) if (i%3 == 0 or i%5 ==0) ]
    
    
    return sum(new_list)

In [21]:
sum_total_com(10)

23

### Katas - 3

Given a non-negative integer, return an array / a list of the individual digits in order.

Examples:

```python

123 => [1,2,3]

1 => [1]

8675309 => [8,6,7,5,3,0,9]

```

In [7]:
def return_list1(nums): 
    list_new = [int(num) for num in str(nums)]
    return list_new

In [8]:
return_list1(123)

[1, 2, 3]

### Katas - 4

Given a set of numbers, create a function that returns the additive inverse of each. Each positive becomes negatives, and the negatives become positives.

```python
invert([1,2,3,4,5]) == [-1,-2,-3,-4,-5]
invert([1,-2,3,-4,5]) == [-1,2,-3,4,-5]
invert([]) == []
```

You can assume that all values are integers. Do not mutate the input array/list.

In [19]:
def invert(nums): 
    list_new = [-e for e in nums]
    return list_new

In [21]:
invert([])

[]

## Challenge 2 - exercises

Do the following exercises using list, dict or set comprehension.

### Exercise 1

Create a dictionary whose keys (`key`) are integers between 1 and 15 (both inclusive) and the values (`value`) are the square of the key (`key`).

In [22]:
{key:key**2 for key in range(1,16)}

{1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225}

### Exercise 2

Write a program that takes two lists of integers, and returns a list of all possible pairs of integers where the first integer is from the first list, and the second integer is from the second list.

Example:

```python
Input: [1, 2], [3, 4]
Output: [(1, 3), (1, 4), (2, 3), (2, 4)]
```

In [23]:
def one_list(list1, list2): 
    return [(x,y) for x in list1 for y in list2]

In [24]:
one_list([1,2], [3,4])

[(1, 3), (1, 4), (2, 3), (2, 4)]

### Exercise 3

Write a program that takes a dictionary of lists as input, and returns a list of all possible key-value pairs, where the key is from the dictionary, and the value is from the corresponding list.
Example:
    
```python
Input: {"a": [1, 2], "b": [3, 4]}
Output: [("a", 1), ("a", 2), ("b", 3), ("b", 4)]
```

In [27]:
def dict_list(dict1): 
    return [(key, num) for key, list in dict1.items() for num in list]

In [28]:
dict_list({"a": [1, 2], "b": [3, 4]})

[('a', 1), ('a', 2), ('b', 3), ('b', 4)]

# Bonus exercises

### Exercise 1

Write a program that takes a list of tuples, where each tuple contains two lists of integers, and returns a list of all possible pairs of integers where the first integer is from the first list in a tuple, and the second integer is from the second list in the same tuple.

Example:
```python
Input: [([1, 2], [3, 4]), ([5, 6], [7, 8])]
Output: [(1, 3), (1, 4), (2, 3), (2, 4), (5, 7), (5, 8), (6, 7), (6, 8)]

```

In [31]:
def tuples_list(tuple_l): 
    return [(x,y) for list1,list2 in tuple_l for x in list1 for y in list2]

In [32]:
tuples_list([([1, 2], [3, 4]), ([5, 6], [7, 8])])

[(1, 3), (1, 4), (2, 3), (2, 4), (5, 7), (5, 8), (6, 7), (6, 8)]

### Exercise 2

Write a program that takes a list of strings, and returns a set of all possible pairs of characters where the first character is from the first string, and the second character is from the second string.

Example:
    
```python
Input: ["ab", "cd"]
Output: {('a', 'b'), ('c', 'd'), ('a', 'd'), ('c', 'b')}
```

In [49]:
def char_pairs1(string_list):
    if len(string_list) < 2:
        return set()
    
    first_string, second_string = string_list[:2]  # Get the first two strings
    return {(x, y) for x in first_string for y in second_string}

In [50]:
char_pairs1(["ab", "cd"])

{('a', 'c'), ('a', 'd'), ('b', 'c'), ('b', 'd')}